<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <project>

        <settings>
            <config>
                <section name="quiqqer.cookieconsent">
                    <conf name="position">
                        <type><![CDATA[string]]></type>
                    </conf>
                </section>
                <section name="cookieconsent">
                    <conf name="blocksite">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                </section>
                <section name="checklist">
                    <conf name="disclaimer.read">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="contact.ssl">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="contact.smtp">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="contact.privacypolicy">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="contact.usage">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="contact.dpa">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="newsletter.unsubscribe">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="newsletter.optin">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="newsletter.dataProcessingDirectory">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="newsletter.dpa">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="newsletter.coupling">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="google.dpa">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="google.analytics.ips">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="google.analytics.gdpr">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="google.analytics.duration">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="google.cookie.opt.out">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="google.cookie.opt.in">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="tools.socialmedia">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="tools.calendars">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="tools.youtube">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="tools.newsletters">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="tools.seals">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="tools.google.maps">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="tools.google.recaptcha">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="tools.google.fonts">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="cookies.inform">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="cookies.consent">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="privacypolicy.added">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="privacypolicy.verified">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="privacypolicy.accessible">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="imprint.name.provider">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="imprint.name.company">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="imprint.address">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="imprint.contact">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="imprint.register">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="imprint.vat">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="imprint.supervisor">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                    <conf name="imprint.chamber">
                        <type><![CDATA[boolean]]></type>
                    </conf>
                </section>
            </config>

            <window>
                <categories>
                    <category name="quiqqer">
                        <text>
                            <locale group="quiqqer/cookieconsent" var="settings.title"/>
                        </text>

                        <settings title="quiqqer/cookieconsent" name="settings.cookieconsent">
                            <title>
                                <locale group="quiqqer/cookieconsent" var="settings.cookieconsent.title"/>
                            </title>
                            <select conf="quiqqer.cookieconsent.position">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="settings.cookieconsent.position.text"/>
                                </text>
                                <option value="top">
                                    <locale group="quiqqer/cookieconsent" var="settings.cookieconsent.position.top"/>
                                </option>
                                <option value="bottom">
                                    <locale group="quiqqer/cookieconsent" var="settings.cookieconsent.position.bottom"/>
                                </option>
                                <option value="topSlide">
                                    <locale group="quiqqer/cookieconsent" var="settings.cookieconsent.position.topSlide"/>
                                </option>
                            </select>

                            <input conf="cookieconsent.blocksite" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.cookieconsent.blocksite.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/cookieconsent" var="setting.cookieconsent.blocksite.description"/>
                                </description>
                            </input>
                        </settings>
                    </category>

                    <category name="quiqqer.gdpr.checklist">
                        <text>
                            <locale group="quiqqer/cookieconsent" var="setting.checklist.title"/>
                        </text>
                        <icon>fa fa-legal</icon>

                        <settings name="checklist.disclaimer">
                            <title>
                                <locale group="quiqqer/cookieconsent" var="setting.checklist.disclaimer.title"/>
                            </title>

                            <input conf="checklist.disclaimer.read" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.disclaimer.read.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.disclaimer.read.description"/>
                                </description>
                            </input>
                        </settings>

                        <settings name="checklist.contact">
                            <title>
                                <locale group="quiqqer/cookieconsent" var="setting.checklist.contact.title"/>
                            </title>

                            <input conf="checklist.contact.ssl" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.contact.ssl.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.contact.ssl.description"/>
                                </description>
                            </input>

                            <input conf="checklist.contact.smtp" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.contact.smtp.text"/>
                                </text>
                            </input>

                            <input conf="checklist.contact.privacypolicy" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.contact.privacypolicy.text"/>
                                </text>
                            </input>

                            <input conf="checklist.contact.usage" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.contact.usage.text"/>
                                </text>
                            </input>

                            <input conf="checklist.contact.dpa" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.contact.dpa.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.contact.dpa.description"/>
                                </description>
                            </input>
                        </settings>

                        <settings name="checklist.newsletter">
                            <title>
                                <locale group="quiqqer/cookieconsent" var="setting.checklist.newsletter.title"/>
                            </title>
                            <input conf="checklist.newsletter.unsubscribe" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.newsletter.unsubscribe.text"/>
                                </text>
                            </input>
                            <input conf="checklist.newsletter.optin" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.newsletter.optin.text"/>
                                </text>
                            </input>
                            <input conf="checklist.newsletter.dataProcessingDirectory" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.newsletter.dataProcessingDirectory.text"/>
                                </text>
                            </input>
                            <input conf="checklist.newsletter.dpa" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.newsletter.dpa.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.newsletter.dpa.description"/>
                                </description>
                            </input>
                            <input conf="checklist.newsletter.coupling" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.newsletter.coupling.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.newsletter.coupling.description"/>
                                </description>
                            </input>
                        </settings>

                        <settings name="checklist.google">
                            <title>
                                <locale group="quiqqer/cookieconsent" var="setting.checklist.google.title"/>
                            </title>
                            <input conf="checklist.google.dpa" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.google.dpa.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.google.dpa.description"/>
                                </description>
                            </input>
                            <input conf="checklist.google.analytics.ips" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.google.analytics.ips.text"/>
                                </text>
                            </input>
                            <input conf="checklist.google.analytics.gdpr" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.google.analytics.gdpr.text"/>
                                </text>
                            </input>
                            <input conf="checklist.google.analytics.duration" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.google.analytics.duration.text"/>
                                </text>
                            </input>
                            <input conf="checklist.google.cookie.opt.out" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.google.cookie.opt.out.text"/>
                                </text>
                            </input>
                            <input conf="checklist.google.cookie.opt.in" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.google.cookie.opt.in.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.google.cookie.opt.in.description"/>
                                </description>
                            </input>
                        </settings>

                        <settings name="checklist.tools">
                            <title>
                                <locale group="quiqqer/cookieconsent" var="setting.checklist.tools.title"/>
                            </title>
                            <input conf="checklist.tools.socialmedia" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.tools.socialmedia.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.tools.socialmedia.description"/>
                                </description>
                            </input>
                            <input conf="checklist.tools.calendars" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.tools.calendars.text"/>
                                </text>
                            </input>
                            <input conf="checklist.tools.youtube" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.tools.youtube.text"/>
                                </text>
                            </input>
                            <input conf="checklist.tools.newsletters" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.tools.newsletters.text"/>
                                </text>
                            </input>
                            <input conf="checklist.tools.seals" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.tools.seals.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.tools.seals.description"/>
                                </description>
                            </input>
                            <input conf="checklist.tools.google.maps" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.tools.google.maps.text"/>
                                </text>

                            </input>
                            <input conf="checklist.tools.google.recaptcha" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.tools.google.recaptcha.text"/>
                                </text>
                            </input>
                            <input conf="checklist.tools.google.fonts" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.tools.google.fonts.text"/>
                                </text>
                            </input>
                        </settings>

                        <settings name="checklist.cookies">
                            <title>
                                <locale group="quiqqer/cookieconsent" var="setting.checklist.cookies.title"/>
                            </title>
                            <input conf="checklist.cookies.inform" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.cookies.inform.text"/>
                                </text>
                            </input>
                            <input conf="checklist.cookies.consent" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.cookies.consent.text"/>
                                </text>
                            </input>
                        </settings>

                        <settings name="checklist.privacypolicy">
                            <title>
                                <locale group="quiqqer/cookieconsent" var="setting.checklist.privacypolicy.title"/>
                            </title>
                            <input conf="checklist.privacypolicy.added" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.privacypolicy.added.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.privacypolicy.added.description"/>
                                </description>
                            </input>
                            <input conf="checklist.privacypolicy.verified" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.privacypolicy.verified.text"/>
                                </text>
                            </input>
                            <input conf="checklist.privacypolicy.accessible" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.privacypolicy.accessible.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.privacypolicy.accessible.description"/>
                                </description>
                            </input>
                        </settings>

                        <settings name="checklist.imprint">
                            <title>
                                <locale group="quiqqer/cookieconsent" var="setting.checklist.imprint.title"/>
                            </title>
                            <input conf="checklist.imprint.name.provider" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.imprint.name.provider.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.imprint.name.provider.description"/>
                                </description>
                            </input>
                            <input conf="checklist.imprint.name.company" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.imprint.name.company.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.imprint.name.company.description"/>
                                </description>
                            </input>
                            <input conf="checklist.imprint.address" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.imprint.address.text"/>
                                </text>
                            </input>
                            <input conf="checklist.imprint.contact" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.imprint.contact.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.imprint.contact.description"/>
                                </description>
                            </input>
                            <input conf="checklist.imprint.register" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.imprint.register.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.imprint.register.description"/>
                                </description>
                            </input>
                            <input conf="checklist.imprint.vat" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.imprint.vat.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.imprint.vat.description"/>
                                </description>
                            </input>
                            <input conf="checklist.imprint.supervisor" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.imprint.supervisor.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.imprint.supervisor.description"/>
                                </description>
                            </input>
                            <input conf="checklist.imprint.chamber" type="checkbox">
                                <text>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.imprint.chamber.text"/>
                                </text>
                                <description>
                                    <locale group="quiqqer/cookieconsent" var="setting.checklist.imprint.chamber.description"/>
                                </description>
                            </input>
                        </settings>
                    </category>
                </categories>
            </window>
        </settings>
    </project>
</quiqqer>
